.container {
  margin: 0 6rem;
}

.footer {
  background-color: #39603d;
  color: #fff;
  font-size: 1.4rem;
  padding: 0.75rem 0;
}

.footerInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
