.container {
  margin: 1.5rem 6rem;
  font-size: 1.8rem;
}

.infoTxtWrapper {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .paragraph1 {
    text-align: left;
    margin: 1rem 0;
  }
}

.paragraph1 {
  font-weight: 200;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.paragraph2 {
  font-weight: 300;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.focusedTxt {
  font-weight: 600;
}
