.container {
  margin: 1.5rem 6rem;
  font-size: 1.8rem;
}

.infoTxtWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .infoTxtWrapper {
    flex-direction: column;
    text-align: center;
  }
}

.headerMain {
  color: #39603d;
  text-transform: uppercase;
  text-align: center;
  margin: 2rem auto;
  font-weight: 300;
}

.imgWrapper {
  padding: 4rem;
}

.serviceTxt {
  padding: 0 1rem 0 0;
}

.headerSecondary {
  line-height: 1.8;
}

.paragraph {
  font-weight: 300;
  line-height: 1.8;
}

.focusedTxt {
  font-weight: 600;
}
